* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #d9e6ff;
    color: #241b13;
    overflow-x: hidden;
}

/* HEADER */
.header {
    padding: 30px 40px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}
.main {
    padding-bottom: 260px;
}
.dice {
    cursor: pointer;
    font-size: 20px;
    transition: transform 0.2s ease;
}

.dice:hover {
    transform: rotate(10deg);
}

.menu-btn {
    cursor: pointer;
    font-weight: 500;
}

.logo img {
    height: 40px;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

}

.header-right img {
    width: 28px;
}
.contacto-text{
    text-decoration: none;
    color: #1f2a38;
    font-size: 0.8rem
    
}

.contacto-text:hover{
    text-decoration: underline;
    color: rgb(71, 84, 153);
}

/* HERO */
.hero {
    margin-top: 60px;
}

.hero h1 {
    font-weight: 400;
    font-size: 2.5rem;
}
.byeme {
    margin-top: -10px;
    font-family: "Kapakana", cursive;
    font-size: 10rem;
    font-weight: 400;
    line-height: 0.9;
    color: #2b2b2b;
}


/* PROJECTS */
.projects {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 20px;
    background: transparent;
}

.project-row {
    display: flex;
    gap: 0px;
    padding: 0 60px;
    align-items: flex-end;
}

.project-item {
    position: relative;
    overflow: hidden;
    transition: flex 0.4s ease;
    flex: 1;
    cursor: pointer;
}

.project-item img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    transition: height 0.4s ease;
}


.project-item span {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-weight: 500;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.project-item img {
    filter: grayscale(100%);
    transition: filter 0.4s ease, height 0.4s ease;
}
.project-item:hover img {
    filter: grayscale(0%);
}

.project-item:hover {
    flex: 2;
}

.project-item:hover span {
    opacity: 1;
}
@media (max-width: 768px) {

    .project-row {
        padding: 0 20px;
        gap: 10px;
    }

    .project-item img {
        height: 120px;
    }

    .project-item:hover img {
        height: 160px;
    }

    .byeme {
        font-size: 4.5rem;
    }

    .hero h1 {
        font-size: 1.8rem;
    }

    #side-menu {
        width: 80%;
    }
}

/* SIDE MENU */
#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.15);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
}

#overlay.active {
    opacity: 1;
    pointer-events: auto;
}

#side-menu {
    position: fixed;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100vh;
    background: rgba(255, 243, 196, 0.7);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    padding: 40px;
    transition: left 0.45s ease;
    z-index: 1000;
}

#side-menu.active {
    left: 0;
}


#overlay.active {
    opacity: 1;
    pointer-events: auto;
}
.close-btn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
}


.menu-content {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.menu-content a {
    text-decoration: none;
    color: #2b2b2b;
    font-size: 20px;
}

/* BOOTSTRAP OVERRIDES */
.accordion-button {
    background: none;
    padding: 0;
    font-weight: 500;
}

.accordion-body a {
    display: block;
    margin: 10px 0;
}
/* EDITORIAL PANEL */
.editorial-panel {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #1f2a38; /* azul oscuro elegante */
    color: #f5f5f5;
    z-index: 900;
     transition: bottom 0.9s cubic-bezier(0.77, 0, 0.175, 1);
}

.editorial-panel.active {
    bottom: 0;
}

.editorial-content {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px;
    gap: 60px;
}

/* TEXTO */
.editorial-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.editorial-intro {
    max-width: 420px;
    font-size: 0.95rem;
    line-height: 1.6;
}

.editorial-title {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    font-weight: 400;
    line-height: 0.95;
}

.editorial-small {
    max-width: 360px;
    font-size: 0.8rem;
    opacity: 0.8;
}

/* IMAGEN */
.editorial-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.scroll-trigger {
    height: 150vh;
}

@media (max-width: 768px) {

    .editorial-content {
        grid-template-columns: 1fr;
        padding: 40px 20px;
    }

    .editorial-title {
        font-size: 3rem;
    }

    .editorial-image {
        height: 40vh;
    }
}
